.wrapper__auth {
  display: flex;
  flex-direction: column;
  align-items: center;

  form {
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr 1fr auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "login login login"
    "password password signup";
    width: 100%;
    gap: 20px;
    
    input {
      padding: 5px;
      background: #eee;
      border-radius: 5px;
      font-weight: bold;
      
      
      &.login {
        grid-area: login;
      }
      
      &.password {
        grid-area: password;
      }
    }
    button {
      padding: 5px 7px;
      border-radius: 5px;
      background: #8DF35D;
      cursor: pointer;
      font-weight: bold;
    }
  }
  
  a {
    color: #000;
  }  

}
